* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.wide {
    width: 100%;
}

/* begin: header */
.header .wide {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 3;
}

.header_nav_ul {
    display: flex;
}

.header_nav_li > a {
    display: block;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 24px;
}

.ti-menu-alt,
.ti-search,
.header .wide .ti-close {
    color: white;
    font-size: 20px;
    padding: 12px 15px;
}

.ti-search:hover {
    background-color: red;
    cursor: pointer;
}

.header_nav_li:hover > a{
    background-color: #ccc;
    color: black;
}

@media (min-width: 750px) {
    .header_nav_li {
        position: relative;
    }
    
    .sub-nav {
        position: absolute;
        top: 44px;
        left: 0;
        border: #ccc solid 0.1px;
    }
}

.header .sub-nav {
    background-color: white;
}

.header .sub-nav a {
    display: block;
    text-decoration: none;
    color: black;
}

.header .sub-nav li {
    width: 160px;
    padding: 8px 12px;
}

.header .sub-nav li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.header_nav_li:hover .sub-nav {
    display: block;
}
/* end: header */

/* begin: img */
.img  {
    padding-top: 50%;
    margin-top: 44px;
    background: url(../img/slider/slider1.jpg) top center / 100% no-repeat;
    position: relative;
    z-index: -1;
}

.img .text {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.text {
    text-align: center;
    color: white;
    padding: 32px 16px;
}

.text h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    text-transform: uppercase;
}

.img .text h3 {
    text-transform: none;
}

.text p {
    margin: 15px 0;
    font-size: 15px;
}

/* end: img */

/* begin: content */
.content-item {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    width: 800px;
    max-width: 100%;
}

.content-item .text {
    padding-top: 0;
    padding-bottom: 0;
}


.content-item .text h3 {
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
}

.content-item .text p {
    color: black;
    font-style: italic;
    opacity: 0.6;
}

.the-band > p {
    text-align: justify;
}

.the-band .name {
    padding: 32px 0;
}

.the-band img {
    width: 60%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
}

.name .child-name p {
    color: 15px;
    margin: 15px 0;
}

.the-band .name .child-name {
    text-align: center;
}

/* begin: tour dates */
.background-tour {
    background-color: black;
}

.tour-date h3.text-header-h3,
.tour-date p.text-header-p {
    color: white;
}

.tour-date .date {
    margin-top: 35px;
}
.tour-date .date ul {
    background-color: white;
}

.tour-date .date li {
    color: black;
    display: flex;
    padding: 8px 16px;
    font-size: 15px;
}

.tour-date .date .date_li_space-between {
    justify-content: space-between;
}

.tour-date .date li > p {
    opacity: 0.6;
    font-size: 15px;
}

.tour-date .date div {
    margin-left: 16px;
}
.tour-date .date div > p {
    padding: 0 8px;
    font-size: 15px;
}

.tour-date .date .date_div_color-white {
    color: white;
    background-color: #f44336;
}

.date_li_space-between div {
    background-color: black;
    color: white;
    padding: 0 8px;
    border-radius: 50%;
    font-size: 15px;
}

.tour-date .date .date_boder-bottom {
    border-bottom: #ccc solid 1px;
}

/* place */
.place {
    padding: 32px 0;
}
.child-place {
    margin-bottom: 16px;  
}

.child-place img {
    width: 100%;
}

.place-text {
    margin-top: -20px;
    padding: 0 16px;
    background-color: white;
}

.place-text p {
    margin: 15px 0;
    font-size: 15px;
}

.place-text .place-text_padding-top {
    padding-top: 15px;
    font-weight: 600;
}

.place-text .place-text_opacity {
    opacity: 0.6;
}

.place-text button {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 13px 16px;
    margin-bottom: 16px;
    border: 0;
}

.place-text button:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

/* end: tour dates */

/* begin: model_buy-ticket */
.modal_buy-ticket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal_buy-ticket.open {
    display: flex;
}

.modal-content {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px); 
    animation: showfacein ease 0.3s;
}

@keyframes showfacein {
    from {
        transform: translateY(-200%);
    } to {
        transform: translateY(0%);
    }
}
/* end: model_buy-ticket */
.modal-head {
    background-color: #009688;
    text-align: center;
    position: relative;
}

.modal-head > i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: white;
    font-size: 18px;
}

.modal-head > i:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.modal-head h2 {
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 42px 16px;
}

.modal-body {
    padding: 0 16px;
    font-size: 15px;
}

.modal-body div {
    display: flex;
    flex-direction: column;
}

.modal-body label {
    margin: 20px 0 7px 0;
}

.modal-body input {
    padding: 13px 8px;
    outline: none;
    border: #ccc solid 0.5px;
    font-size: 15px;
}

.modal-body button {
    border: 0;
    width: 100%;
    padding: 18px;
    margin: 16px 0;
    text-transform: uppercase;
    background-color: #009688;
    color: white;
}

.modal-body button:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer p {
    font-size: 18px;
    margin: 15px 16px 31px 0;
    float: right;
}

.modal-footer a {
    color: #2196f3;
    margin-left: 4px;
    padding: 5px 0;
}

/* begin: contact */
.contact-info li {
    line-height: 1.5;
}
.contact-body {
    font-size: 18px;
    padding: 32px 0;
}

.contact-body .contact-info ul li {
    line-height: 2 !important;
}

.contact-info ul {
    margin-bottom: 15px;
}

.contact-info i {
    margin-right: 8px;
}

.contact-body div input {
    width: 97%;
    padding: 13px 16px !important;
    outline: none;
    border: #ccc solid 1px;
    font-size: 15px
}

.contact-body div .margin-left {
    margin-bottom: 10px;
}

.contact-body div .margin-left {
    margin-left: 3%;
}

.contact-body form {
    position: relative;
}

.contact-body .input-send {
    background-color: black;
    color: white;
    position: absolute;
    bottom: -71px;
    right: 0;
    width: auto;
    margin: 16px 0;
}

.contact-body .input-send:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
/* end: contact */

/* map */
.content > img {
    width: 100%;
    margin-top: 70px;
}

/* footer */
.footer {
    text-align: center;
    opacity: 0.6;
}
.footer-icon ul {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 20px;
}

.footer-icon li:hover {
    opacity: 0.4;
    cursor: pointer;
}

.footer .footer-text {
    margin: 15px 0;
    font-size: 15px;
}

.footer .footer-text a {
    color: black;
}
/* end: content */


@media (max-width: 750px) {
    .ti-menu-alt {
        position: relative;
    }

    .header_nav {
        position: absolute;
        top: 44px;
        left: 0;
    }

    .header_nav_li > a {   
        display: block; 
        color:  white;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 14px 24px;
    }

    .header_nav_ul {
        flex-direction: column;
        background-color: black;
        width: 100vw;
        height: 0;
        max-width: 100vw;
        overflow: hidden;
    }
    
    .sub-nav {
        position: absolute;
        top: 43px;
        left: 0; 
        top: 238px;
        border: #ccc solid 0.1px;
    }
    
    .header .sub-nav {
        background-color: black;
        border: 0;
    }
    
    .header .sub-nav a {
        text-decoration: none;
        color: white;
    }
    
    .header .sub-nav li {
        width: 100vw;
        padding: 14px 41px;
    }
    
    .header .sub-nav li:hover {
        background-color: #ccc;
        cursor: pointer;
    }

    .sub-nav li:hover a {
        color: black;
    }
    
    .header_nav_li:hover .sub-nav {
        display: block;
    }

    /* begin: img */
    .img .text {
        display: none;
    }
    /* end: img */

    .contact-body form div input {
        width: 100%;
    }
    .contact-body div .margin-left {
        margin-left: 0% !important;
    }

    .contact-content div input{
        margin-top: 12px;
    }

    .footer-icon ul li {
        font-size: 25px;
        margin: 0 8px;
    }

    .footer-text p {
        display: inline-block;
        font-size: 18px;
    }

    .footer-text p a {
        padding: 20px 0;
    }
}

@media (max-width: 500px) {
    .contact-body .input-send {
        width: 100%;
    }

    .place-text button {
        width: 100%;
    }
}
